.area1 {background-color: red;}
.area2 {background-color: orange;}
.area3 {background-color: yellow;}
.area4 {background-color: greenyellow;}
.area5 {background-color: skyblue;}

.inline {
  display: inline;
}

.block {
  display: block;
  width: 150px;
  height: 150px;
}

.inline-block {
  display: inline-block;
}

/* 감싸는 영역 요소 */
#container-1 { /* 부모 태그 */
  border: 3px solid black;
  width: 323px;
  height: 472px;
}

/* 내부에 영역을 분할할 요소 */
#container-1 > div {
  border: 1px dashed hotpink;
  height: 50%;
}

#container-1 > div:first-of-type {
  height: 30%;
  background-color: red;
}

#container-1 > div:last-of-type {
  height: 70%;
  background-color: blue;
}


#container-2 {
  border: 3px solid black;
  width: 300px;
  height: 400px;
}
#container-2 > div {
  background-color: pink;
  height: 30%;
}
#container-2 .div-2 {
  background-color: yellow;
  height: 20%;
}
#container-2 div:last-of-type{
  background-color: skyblue;
  height: 50%;
}


/* 별도의 width가 지정되지 않으면 항상 부모요소 100% */
#container-3 {
  border: 3px solid black;
  width: 300px;
  height: 500px;
}
#container-3 > .div-3:nth-of-type(1) {
  background-color: yellowgreen;
  height: 20%;
}
#container-3 > .div-3:nth-of-type(2) {
  background-color: hotpink;
  height: 30%;
}
#container-3 > .div-3:nth-of-type(3) {
  background-color: plum;
  height: 50%;
}


#container-4 {
  border: 3px solid black;
  width: 400px;
  height: 200px;
}
.div-4 {
  width: 50%;
  height: 100%;
  display: inline-block;
}
#container-4 > .div-4:first-of-type {
  background-color: peru;
}
#container-4 > .div-4:last-of-type {
  background-color: darkslategray;
}


.div-5 {
  border: 3px solid black;
  height: 100px;
}
#test5{
  background-color: deeppink;

 /* display: none; */
 visibility: hidden;
}

