/*
CSS 파일
전체가 <style> 태그 내부라고 생각하기
*/

/* 기본 속성 선택자 */
div[name="name-1"]{
  background-color: red;
}

p[test="test"]{
  background-color: blue;
}

[name="name-2"]{
  background-color: green;
}

/* 자식 선택자 */
#parent-ul > li {
  background-color: aquamarine;
}

#parent-ul > li > span { 
  background-color: pink;
}

/* 후손 선택자 */
#parent-ul span{ /*  띄어쓰기 = 후손을 가리킴 */
  background-color: yellow;
}

#test-div p {
  background-color: aqua;
}

/* 반응 선택자 */
.div-cls {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: gray;

  /* 아래쪽 요소와의 간격 == 아래쪽 여백을 30px 지정 */
  margin-bottom: 30px;

  /* 요소에 마우스커서가 올라가면 손가락 모양으로 변경 */
  cursor: pointer;
}

#active-test:active {
  background-color: yellow;
}

#hover-test:hover {
  background-color: pink;
  width: 230px;
  height: 230px;
}

#hover-test{
  /* 
  id가 hover-test 인 요소가 스타일의 변화를 일으키면 0.5초 동안 변해라

  트랜지션(transition) :
  HTML 요소가 한 상태에서 다른 상태로 변할 때의 변화를 부드럽게
  만들어주는 애니매이션 효과 
  점진저긍로 몇 초에 걸쳐 변화해라..
  */
  transition-duration: 0.5s;
}

/* 상태 선택자 */
#focus-test:focus{
  background-color: red;
}

input[name="fruits"]:checked{
  width: 30px;
  height: 30px;

  /* radio , checkbox는 크기를 제외한 스타일은 적용되지 않는다 */
  background-color: red;
}

#test-div2 > input:enabled {
  background-color: lightblue;
}

#test-div2 > input:disabled {
  background-color: lightcoral;
}

/*동위 선택자*/
#div1 + div {
  background-color: olive;
}

#div3~div {
  background-color: cornflowerblue;
}