    @font-face {
    font-family: 'Soonbatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    }

 * {
    font-family: 'Soonbatang';
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  }


header {
  background-color: powderblue;
  color: white;
} 

header > h3 {
  font-size: medium;
}

nav {
  height: 70px;
  border-top: 2px dotted white;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex-basis: 250px;
}

nav a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 70px;
}

#about {
  display: flex;
  height: 200px;
}

#about a {
  flex-basis: 15%;
}

#table1 {
  flex-basis: 85%;
}

#education > h3 {
  background-color: powderblue;
  color: white;
  height: 70px;
  line-height: 70px;

}

#table2 {
  height: 500px;
  display: flex;
  font-size: large
}

footer {
  height: 100px;
  background-color:powderblue;
  color:  white;
}

fieldset {
  border: none;
  display: flex;
}

#call div:nth-of-type(1),
#call div:nth-of-type(2),
#call div:nth-of-type(3){
  flex-basis: 30%;
  margin-top: 20px;
  margin-left: 20px;
}

#call button {
  flex-basis: 10%;
}

#uname,#uemail,#uphone {
  padding: 4px;
  border-radius: 5px;
  border: none;
}

legend {
  font-weight: bold;
  color:white;
  font-size:larger;
}


  #call button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
  
  }