* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: skyblue;
  color: white;
} 

header > h3 {
  font-size: medium;
}

nav {
  height: 70px;
  border-top: 2px solid white;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex-basis: 250px;
}

nav a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 70px;
}

#about {
  display: flex;
  height: 200px;
}

#about a {
  flex-basis: 15%;
}

#table1 {
  flex-basis: 85%;
}

#education > h3 {
  background-color: skyblue;
  color: white;
  height: 70px;
  line-height: 70px;

}

#table2 {
  height: 500px;
  display: flex;
  font-size: large
}

footer {
  height: 150px;
  background-color: skyblue;
  color:  white;
}

fieldset {
  border: none;
}

legend {
  font-size:larger
}

#uname,#uemail,#uphone {
  padding: 4px;
}


